<div>
    <div>
        <button ng-hide="showAddEditUser" type="button" ng-click="show()">New User</button>


        <form ng-submit="saveUser(user)" ng-hide="!showAddEditUser">
            <label for="nome"> Nome</label>
            <input type="text" id="nome" placeholder="Nome" ng-bind="user.nome" required/>
            <br>
            <label for="email"> E-mail</label>
            <input type="email" id="email" placeholder="E-mail" ng-bind="user.email" required/>
            <br>
            <label for="password"> Password</label>
            <input type="password" id="password" placeholder="Password" ng-bind="user.password" required/>

            <button type="submit">Save</button>
            <button type="button" ng-click="hide()">Cancel</button>
        </form>
    </div>
    <div>
        <br>
        <h3>Users</h3>
        <table>
            <thead>
                <tr>
                    <td>
                        Nome
                    </td>
                    <td>
                        E-mail
                    </td>
                    <td>
                        Permissões
                    </td>

                    <td>
                        Ações
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <div ng-repeat="permission in user.permissions">{{ permission.role | formatPermission}}</div>
                    </td>
                    <td></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>